@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  background: url("../images/bg-intro-mobile.png") center/cover;
  background-color: #ff7a7a;
}

.wrapper {
  width: 80%;
  min-height: 50vh;
  margin: 10rem auto;
}
@media (min-width: 1440px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .wrapper section {
    width: 50%;
    display: flex;
    align-items: center;
  }
}
.wrapper .box-left {
  width: 100%;
  text-align: center;
}
@media (min-width: 1440px) {
  .wrapper .box-left {
    align-items: center;
  }
}
.wrapper .box-left .box-left__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 2rem 0;
}
@media (min-width: 1440px) {
  .wrapper .box-left .box-left__title {
    width: 70%;
    font-size: 44px;
    line-height: 5rem;
  }
}
.wrapper .box-left .box-left__text {
  font-size: 13px;
  color: #ffffff;
}
@media (min-width: 1440px) {
  .wrapper .box-left .box-left__text {
    width: 78%;
    padding: 0 8%;
    line-break: anywhere;
  }
}
.wrapper .box-right {
  margin-top: 5rem;
  width: 100%;
}
.wrapper .box-right .wrapper-advert {
  width: 100%;
  background-color: #6055a5;
  border-radius: 7px;
  box-shadow: 0px 7px 0px rgba(97, 97, 97, 0.2);
  color: #ffffff;
  padding: 1rem 0rem;
}
.wrapper .box-right .wrapper-advert .advert__text {
  width: 66%;
  margin: 0 auto;
  padding: 4%;
  font-size: 12px;
}
.wrapper .box-right .wrapper-advert .advert__text .advert__span {
  font-weight: bold;
}
.wrapper .box-right .wrapper-main {
  border-radius: 3px;
  margin: 2rem auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 7%;
}
.wrapper .box-right .wrapper-main .container-form {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .box-right .wrapper-main .container-form section {
  width: 100%;
}
.wrapper .box-right .wrapper-main .container-form section .wrapper-input-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border: 2px solid #8080803b;
  border-radius: 6px;
}
.wrapper .box-right .wrapper-main .container-form section .wrapper-input-icon .input-common {
  width: 100%;
  border: none;
  line-height: 5rem;
  border: none;
  padding: 2%;
}
.wrapper .box-right .wrapper-main .container-form section .wrapper-input-icon .input-common:focus {
  border: 2px solid rgba(54, 54, 54, 0.5);
  outline: none;
}
.wrapper .box-right .wrapper-main .container-form section .wrapper-input-icon .alert {
  display: none;
  margin-right: 2rem;
  filter: invert(13%) sepia(92%) saturate(7266%) hue-rotate(5deg) brightness(97%) contrast(114%);
}
.wrapper .box-right .wrapper-main .container-form section .container-message {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: red;
  margin-top: -0.5rem;
  padding-bottom: 3%;
}
.wrapper .box-right .wrapper-main .container-form ::placeholder {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
.wrapper .box-right .wrapper-main .container-form .btn-submit {
  width: 100%;
  background-color: #38cc8c;
  border-radius: 6px;
  border: #38cc8c;
  box-shadow: inset 0px -3px #80808057;
}
.wrapper .box-right .wrapper-main .container-form .btn-submit .btn-submit__text {
  padding: 7%;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.wrapper .box-right .wrapper-main .container-form .form-footer__text {
  text-align: center;
  color: #b9b6d3;
  line-height: 2rem;
  margin-top: 1rem;
}
.wrapper .box-right .wrapper-main .container-form .form-footer__text span {
  color: #ff7a7a;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
