@import "./abstracts/_abstracts-dir";
@import "./base/_base-dir";

body {
  background: url("../images/bg-intro-mobile.png") center / cover;
  background-color: $primary-red;
}

.wrapper {
  outline: 2px solid red;
  width: 80%;
  min-height: 50vh;
  margin: 10rem auto;

  .box-leftt {
    width: 100%;
    outline: 2px solid green;
  }

  .box-right {
    outline: 2px solid yellow;

    .wrapper-advert {
      width: 100%;

      .advert__text {
        outline: 2px solid red;
        width: 60%;
        margin: 0 auto;

        .advert__span {
          font-weight: bold;
        }
      }
    }

    .wrapper-main {
      border-radius: 3px;
      background-color: orange;
      margin: 2rem auto;

      .container-form {
        // width: 90%;
        // margin: 2rem auto;
        padding: 4%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // align-items: center;

        .input-width {
          width: 16rem;
        }
      }
    }

    // ::placeholder {
    //   color: orange;
    // }
  }
}
