@import "./abstracts/_abstracts-dir";
@import "./base/_base-dir";

body {
  background: url("../images/bg-intro-mobile.png") center / cover;
  background-color: $primary-red;
}

.wrapper {
  // outline: 2px solid red;
  width: 80%;
  min-height: 50vh;
  margin: 10rem auto;

  .box-left {
    width: 100%;
    // outline: 2px solid green;
    // display: flex;
    // flex-direction: column;
    text-align: center;

    .box-left__title {
      color: #ffffff;
      font-weight: 700;
    }

    .box-left__text {
      font-size: 9px;
      color: #ffffff;
    }
  }

  .box-right {
    // outline: 2px solid yellow;

    .wrapper-advert {
      width: 100%;
      background-color: $primary-blue;
      border-radius: 7px;
      box-shadow: 0px 4px 0px rgba(97, 97, 97, 0.5);
      color: #ffffff;

      .advert__text {
        // outline: 2px solid red;
        width: 66%;
        margin: 0 auto;
        padding: 4%;

        .advert__span {
          font-weight: bold;
        }
      }
    }

    .wrapper-main {
      border-radius: 3px;
      margin: 2rem auto;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 7%;

      .container-form {
        padding: 4%;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;

        .input-width {
          width: 16rem;
        }
      }
    }

    // ::placeholder {
    //   color: orange;
    // }
  }
}
