@import "./abstracts/_abstracts-dir";
@import "./base/_base-dir";

body {
  background: url("../images/bg-intro-mobile.png") center / cover;
  background-color: $primary-red;
}

.wrapper {
  width: 80%;
  min-height: 50vh;
  margin: 10rem auto;

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
  }

  section {
    @media (min-width: 1440px) {
      width: 50%;
      display: flex;
      align-items: center;
    }
  }

  .box-left {
    width: 100%;
    text-align: center;

    @media (min-width: 1440px) {
      align-items: center;
    }

    .box-left__title {
      color: #ffffff;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      margin: 2rem 0;

      @media (min-width: 1440px) {
        width: 70%;
        font-size: 44px;
        line-height: 5rem;
      }
    }

    .box-left__text {
      font-size: 13px;
      color: #ffffff;

      @media (min-width: 1440px) {
        width: 78%;
        padding: 0 8%;
        line-break: anywhere;
      }
    }
  }

  .box-right {
    margin-top: 5rem;
    width: 100%;
    .wrapper-advert {
      width: 100%;
      background-color: $primary-blue;
      border-radius: 7px;
      box-shadow: 0px 7px 0px rgba(97, 97, 97, 0.2);
      color: #ffffff;
      padding: 1rem 0rem;

      .advert__text {
        width: 66%;
        margin: 0 auto;
        padding: 4%;
        font-size: 12px;

        .advert__span {
          font-weight: bold;
        }
      }
    }

    .wrapper-main {
      border-radius: 3px;
      margin: 2rem auto;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 7%;

      .container-form {
        padding: 4%;

        @include center-column;

        section {
          width: 100%;

          @media (min-width: 1440px) {
            @include column;
          }

          .wrapper-input-icon {
            @include row-center;
            justify-content: space-between;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            margin-bottom: 1rem;
            border: 2px solid #8080803b;
            border-radius: 6px;

            .input-common {
              width: 100%;
              border: none;
              line-height: 5rem;
              border: none;
              padding: 2%;
            }

            .input-common:focus {
              border: 2px solid rgba(54, 54, 54, 0.5);
              outline: none;
            }

            .alert {
              display: none;
              margin-right: 2rem;
              filter: invert(13%) sepia(92%) saturate(7266%) hue-rotate(5deg)
                brightness(97%) contrast(114%);
            }
          }

          .container-message {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            color: red;
            margin-top: -0.5rem;
            padding-bottom: 3%;

            .error-message {
            }
          }
        }

        ::placeholder {
          color: black;
          font-size: 12px;
          font-weight: bold;
        }

        .btn-submit {
          width: 100%;
          background-color: $primary-green;
          border-radius: 6px;
          border: hsl(154, 59%, 51%);
          box-shadow: inset 0px -3px #80808057;

          .btn-submit__text {
            padding: 7%;
            color: white;
            font-size: 12px;
            cursor: pointer;
          }
        }

        .form-footer__text {
          text-align: center;
          color: $primary-grey;
          line-height: 2rem;
          margin-top: 1rem;

          span {
            color: $primary-red;
            font-weight: bold;
          }
        }
      }
    }
  }
}
